doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    script(src="jquery-2.1.4.min.js")
    ul#navbar
      - if (locals.uname)
        li.navi.left
          div Welcome, #{uname}
        li.navi.navilink.left
          a(href="/dashboard") Dashboard
        block navbar
        li.navi.navilink.right
          a(href="/logout") Log out
      - else 
        li.navi.left
          div Welcome
        block navbar
    block content
