doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    block head
  body
    script(src="/jquery-2.1.4.min.js")
    div#content
      block content
    
    ul#navbar
      li.navi.navilink.left
        a(href="/") Home
      - if (locals.uname)
        li.navi.left
          div Welcome, #{uname}
        block navbar
        li.navi.navilink.right
          a(href="/logout") Log out
      - else 
        li.navi.left
          div Welcome
        block navbar
        li.navi.navilink.right
          a(href="/signup") Signup
        li.navi.navilink.right
          a(href="/login") Login
