extends layout

block head
  link(rel='stylesheet', href='/stylesheets/loginsignup.css')
  
block content
  form(action='/login', method='post')
    input(type='text', name='username', placeholder='Username', required)
    input(type='password', name='password', placeholder='Password', required)
    input(type='submit', value='Login')
  body
