extends layout

block content
  form(action='/signup', method='post')
    div
      label Username:
      input#username(type='text', name='username')
      br
    div
      label ID \(Ask for this if you don't know it\):
      input(type='text', name='id')
    div
      label Password:
      input#pass(type='password', name='password')
    div
      label Password Confirmation:
      input#passConf(type='password', name='passConf')
    div
      input(type='submit', value='Submit')
  script(src="signupScript.js")
