extends layout

block head
  link(rel='stylesheet', href='/stylesheets/loginsignup.css')

block content
  form(action='/signup', method='post')
    input#username(type='text', name='username', placeholder='Username')
    input(type='text', name='id', placeholder='ID (ask for this)')
    input#pass(type='password', name='password', placeholder='Password')
    input#passConf(type='password', name='passConf', placeholder='Confirm Password')
    input(type='submit', value='Sign up')
  script(src="signupScript.js")
